.dashboardContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sideBar {
    width: 100%;
    max-width: 480px;
}
.balance {
    display: none;
}
.currencyChart {
    display: none;
}

.divider {
    display: none;
}

@media (min-width: 768px) {
    .dashboardContainer {
        align-items: flex-start;
        padding: 20px;
    }

    .sideBar {
        display: flex;
        flex-direction: row;
        gap: 20px 0px;
    }

    .balance {
        display: flex;
    }

    .currencyChart {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        max-width: 420px;
    }
}

@media (min-width: 1280px) {
    .dashboardContainer {
        flex-direction: row;
        padding: 0;
    }

    .sideBar {
        flex-direction: column;
        padding: 20px 0;
    }

    .divider {
        display: flex;
        width: 2px;
        background: rgba(255, 255, 255, 0.25);
        height: 100vh;
    }

    .balance {
        margin-top: 28px;
    }

    .currencyChart {
        margin-top: 32px;
    }
}
