.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
}
.sideBar {
    max-width: 480px;
}

.divider {
    display: none;
}
.currencyChart {
    display: none;
}
.balance {
    display: none;
}

@media (min-width: 768px) {
    .currencyChart {
        display: flex;
    }
    .sideBar {
        display: flex;
        flex-direction: row;
        padding: 20px 0;
    }
    .dashboardContainer {
        align-items: flex-start;
    }
    .balance {
        display: flex;
    }
}
@media (min-width: 1280px) {
    .sideBar {
        padding: 20px 0;
        flex-direction: column;
    }
    .dashboardContainer {
        flex-direction: row;
        padding: 0;
    }
    .divider {
        display: flex;
        width: 2px;
        background-color: rgba(255, 255, 255, 0.2); 
        align-self: stretch;
        height: 100vh;
    }
    .balance{
        margin-top: 28px;
    }
    .currencyChart{
        margin-top: 32px;
    }
}
