/* --- VARSAYILAN: MOBİL STİLLER (0px - 767px) --- */
.navbar {
  background-color: #241744;
  color: white;
  padding: 10px 15px; /* Mobilde daha dar padding */
  font-family: sans-serif;
  width: 100%;
}
.divider {
  display: none;
}
.spanExit {
  display: none;
}
.iconExit {
  fill: thistle;
  width: 23px;
  height: 23px;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 60px;
}

.logoGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brandName {
  font-size: 16px; /* Mobilde daha küçük font */
  font-weight: 600;
  margin: 0;
}

.userActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userName {
  font-size: 20px;
  opacity: 0.9;
  color: thistle;
}

.exitBtn {
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}

.icon {
  fill: thistle;
  width: 90px;
  height: 40px;
}

/* --- MASAÜSTÜ: (768px ve Üzeri) --- */
@media (min-width: 768px) {
  
  .navbar {
    padding: 20px 40px;
  }

  .brandName {
    font-size: 22px;
  }

  .userName {
    font-size: 16px;
  }

  .userActions {
    gap: 20px;
  }

  .divider {
    width: 1px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .userName {
    font-size: 20px;
  }
  .icon {
    width: 120px;
    height: 50px;
  }
  .spanExit {
    display: flex;
    font-size: 20px;
    color: thistle;
    margin-left: 8px;
  }
  .divider {
    display: flex;
    width: 3px;
    height: 40px;
    border-radius: 14px;
  }
}
