.wrap {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: var(--font-color-white);
  background: var(--button-gradient);
  cursor: pointer;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: transform 0.2s;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #FFC727, #9E40BA);
  border-radius: 100%;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

@media (hover: hover) {
  .btn:hover,
  .btn:focus {
    transform: scale(1.05);
    opacity: 0.9;
    transition: all 0.3s ease;
  }
}

.icon {
  width: 24px;
  height: 24px;
  color: #ffffff;
}

/* @media screen and (min-width: 768px) {
  .wrap {
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
} */
