.currencyWidget {
  width: 100%;
  height: 200px;
}

.areaChart {
  width: 100%;
  height: 100%;
}

.currencyLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #666;
  font-size: 14px;
}
@media (min-width: 768px) {
  .currencyTab {
    width: 336px;
    height: 88px;
  }
}
@media (min-width: 1280px) {
  .currencyTab {
    width: 480px;
    height: 120px;
  }

  .chartWrapper {
    width: 100%;
    height: 300px;
    max-height: 300px;
  }
}
